[submodule "vim/pack/fugitive/start/fugitive"]
	path = vim/pack/fugitive/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/dispatch/start/dispatch"]
	path = vim/pack/dispatch/start/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/pack/nerdtree/start/nerdtree"]
	path = vim/pack/nerdtree/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/elm/start/elm"]
	path = vim/pack/elm/start/elm
	url = https://github.com/ElmCast/elm-vim.git
[submodule "vim/pack/gradle/start/gradle"]
	path = vim/pack/gradle/start/gradle
	url = https://github.com/tfnico/vim-gradle
[submodule "vim/pack/maven/start/Maven-Compiler"]
	path = vim/pack/maven/start/Maven-Compiler
	url = https://github.com/vim-scripts/Maven-Compiler
[submodule "vim/pack/scala/start/scala"]
	path = vim/pack/scala/start/scala
	url = https://github.com/derekwyatt/vim-scala
